
#calculator {
    background-color: black;
    border: 5px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    width: 400px;
}

input {
    max-width: fit-content;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    text-align: right;
}

button {
    width: 48px;
    height: 48px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
}

button.operator {
    background-color: #e9710e;
    color: #fff;
}

button.equal {
    background-color: #2ecc71;
    color: #fff;
}
        